<div id="wrapper">
<div id="header-wrapper">
  <div id="header-nav">
    <div id="logo">
      <h1><a href="#">My Ruby Blog</a></h1>
      <p>Exporing Evething from Everywhere</p>
    </div>
    <div id="menu">
      <ul>
        <li class="current_page_item"><a href="/">Home</a></li>
                                      <li><a href="/about">About</a></li>
        <li><a href="/posts">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end #header -->
