<div class="post">
  <h2 class="title"> About Us</h2>
  <div class="entry">
    Undergraduate Information Technology engineer. Passionate about learning new technologies, with strong
technical, and interpersonal skills for working in a team and successfully completing a project. 
  </div>
</div>
